
@{
    ViewBag.Title = "DealerPage";
    Layout = "~/Views/Shared/_LayoutDealer.cshtml";
}

<h2>DealerPage</h2>


@Html.ActionLink("Ga naar Autodatabase", "../DatabasePage/Database", "Database", new { id="Button" ,area = "" })